<mat-tab-group animationDuration="0ms">
    <mat-tab label="Reactive form">
        <div class="container">
            <app-favorite-color-reactive></app-favorite-color-reactive>
        </div>
    </mat-tab>
    <mat-tab label="Template-driven form">
        <div class="container">
            <app-favorite-color-template-driven></app-favorite-color-template-driven>
        </div>
    </mat-tab>
</mat-tab-group>
